
* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 

	border-color: black;
	border-style: solid;
	/*border-radius: ;*/

}
 
#intro{
 	background-color: #a6a6a6;
 	color: #0d0d0d;	
	/*Font style - header:*/ 
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	text-align: center;
	
	/*Position & Dimensions*/
	height: 5%;	
 } 

#chat { 
 	font: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;

	/*Position*/
	
}

 form { 
 	background: #000000; 
 	padding: 3px; 
 	position: fixed; 
 	bottom: 5px; 
 	width: 90%;    
 }
 
 form input { 
 	background-color: #f2f2f2;
 	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
	border: 0; 
	padding: 10px; 
	width: 80%; 
	margin-right: 0.5%; 

 }
 
 form button { 
 	width: 9%; 
 	background: #cccccc;
 	border: none; 
 	padding: 5px; 
 	font-size: 20px;  
	
	/*Font style*/
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	text-align: center;
 }
 
 #messages { 
 	margin: 0; 
 	padding: 0; 

	/*Font style - chat message input*/ 
	font-family: 'Roboto', sans-serif;
	font-weight: 400;

 }
 
#messages li { 
 	padding: 5px 10px; 

	/*Font style - chat message input*/ 
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
 }
 
#messages li:nth-child(odd) { 
 	background: #ccccff; 
 }

#list{
	text-align: right;
}

/*
#gallery{
	display: flex;
	align-content: right;
	
}
*/